:root {
    --primary-color: #f7c5d8;
    --secondary-color: #fcefee;
    --text-color: #5c5c5c;
    --bg-color: #fff;
    --container-bg: #fff5f8;
    --timeline-line: #f7c5d8;
    --link-color: #f7c5d8;
    --link-hover: #f5b0ca;
}