:root {
    --primary-color: #d187a2;
    --secondary-color: #fdeff2;
    --text-color: #333;
    --bg-color: #fff;
    --container-bg: #fff0f3;
    --timeline-line: #d187a2;
    --link-color: #d187a2;
    --link-hover: #c3738e;
}